@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(24, 24, 24, 0.87);
  background-color: rgb(243 244 246);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#red-to-black {
  position: relative;
  clip: path(polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0% 50%, 50% 0%));
  background: radial-gradient(
    farthest-corner at 40px 100px,
    #b9b9b9 10%,
    #ee5253 90%
  );
  background-color: #b9b9b9;
}

:root.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1e1e;
}
.dark #red-to-black {
  background: radial-gradient(
    farthest-corner at 40px 100px,
    rgba(223, 68, 68, 0.616) 10%,
    rgb(41, 32, 32) 40%
  );
  background-color: #1e1e1e;
}

html,
body,
#root {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.navbar-max-h {
  max-height: auto;
}
@media (max-width: 640px) {
  .navbar-max-h {
    max-height: calc(100vh - 97px);
    margin-top: 0;
  }
}
