@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1E1E1E;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}
@media (prefers-color-scheme: dark) {
  .drop-down {
    background-color: #3b3a3a; 
    color: #ffffff; 
  }
}
@media (prefers-color-scheme: dark) {
  .drop-down li:hover {
    background-color: #696464; 
  }
}
#red-to-black {
  position: relative;
  clip: path(polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0% 50%, 50% 0%));
  background: radial-gradient(
    farthest-corner at 40px 100px,
    rgba(223, 68, 68, 0.616) 10%,
    rgb(41, 32, 32) 40%)
 
} 


